.budget-dialog {
    max-width: 690px;
}
.budget-dialog-button-group-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.budget-dialog-date-time-picker-container {
    width: 49%;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
.budget-dialog-date-time-picker-left {
    float: left;
}
.budget-dialog-date-time-picker-right {
    float: right;
}