.display-note-name:disabled {
    color: #000;
}

.display-note-details-container {
    border: solid 1px #b9b9b9;
    border-radius: 4px;
}
.display-note-name-container {
    align-self: flex-end;
}

.display-note-buttons-container {
    text-align: right;
}