@import '../../Styles/Breakpoints.scss';

.list-notes-container {
  padding-top: 15px;
}
.list-notes-add-note-container {
  text-align: right;
}
.list-notes-cards-container {
  width: 100%;
}

@media only screen and (max-width: $mobile-breakpoint-max) {
  /*For Mobile Screens*/
  .list-notes-card-container {
    width: 100%;
  }
}

@media only screen and (min-width: $tablet-breakpoint-min) and (max-width: $tablet-breakpoint-max) {
  /*For Small Screens*/
  .list-notes-card-container {
    width: 50%;
  }
}
@media only screen and (min-width: $small-desktop-breakpoint-min) and (max-width: $small-desktop-breakpoint-max) {
  /*For Small Screens*/
  .list-notes-card-container {
    width: 50%;
  }
}
@media only screen and (min-width: $desktop-breakpoint-min) {
  /*For Desktops */
  .list-notes-card-container {
    width: 33%;
  }
}

.list-notes-card-container {
  height: 320px;
  overflow: hidden;
  display: inline-block;
  padding: 15px 15px 15px 15px;
}
.list-notes-card {
  transition: all 0.2s ease-in-out;
}
.list-notes-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 17px -10px #000000;
}
.list-notes-card-content {
  height: 290px;
  overflow: hidden;
}

.list-notes-card-text {
  height: 232px;
  position: relative;
}
.list-notes-card-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}

.list-notes-card-overlay:hover {
  transition: background-image 2s;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}
.list-note-header-container {
  width: 320px;
  padding-left: 10px;
  border-bottom: 1px solid #bec0c0;
}
