@media only screen and (max-width: 480px) {
  /*For Mobile Screens*/
  .card-container {
    width: 80vw;
  }
  .card-icon-container {
    width: 15vw;
  }
}
.budget-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 1265px) and (min-width: 481px) {
  .card-container {
    width: 20vw;
  }
  .card-icon-container {
    width: 5vw;
  }
}
@media (min-width: 1266px) {
  .card-container {
    width: 18vw;
  }
  .card-icon-container {
    width: 5vw;
  }
}

.card-container {
  height: 140px;
  overflow: visible;
}

.card-header {
  font-size: 1vw;
}

.card-content {
  text-align: center;
  padding: 5px 5px 16px 16px;
  line-height: 0.9rem;
}

.card-grid {
  height: 70px;
}

.card-icon-container {
  height: 9vh;
  background-color: #6ea672;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3.5vh;
  box-shadow: 0px 3px 10px;
}

.card-icon {
  font-size: 6.5vh;
  color: #efeeee;
}
.card-divider {
  margin-top: 14px;
  margin-bottom: 10px;
}
.card-center-text {
  text-align: center;
}
.card-button-margin {
  margin-right: 0.5rem;
}
.card-button {
  white-space: nowrap;
  overflow: hidden;
}
