.login-header-container {
  width: 100%;
  text-align: center;
}

.login-input-label {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.login-text-field {
  margin: auto;
  display: block;
}

.login-text-field-input {
  width: 100%;
}

.login-button-container {
  text-align: center;
}

.forgot-password-container {
  text-align: center;
}

.username-input-error {
  text-align: center;
}