.confirm-delete-task-container {
    background-color: rgba($color: #000000, $alpha: 0.04);
    width: 100%;
    height: 125%;
    margin-top: -30px;
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
}

.confirm-delete-no-button {
    margin-right: 5px;
}