.create-task-button-container {
    width: 100%;
    text-align: right;
    margin-top: 5px;
}

.create-task-close-button {
    margin-right: 5px;
}

.create-task-priority-selector-item {
    width: 100%;
    text-align: center;
    margin: 2px 0px 2px 0px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
}
.create-task-priority-selector-item:hover {
    cursor: pointer;
    background-color: #efefef;
}
.create-task-priority-selector-item-selected {
    background-color: #cacaca;
}