@media only screen and (max-width: 480px) {
  /* For Mobile */
  .list-date-select-container {
    width: 70vw;
  }
  .list-header {
    margin-top: 1vh;
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 481px) {
  /* For Desktop */
  .list-date-select-container {
    width: 40vw;
  }
}
.list-container {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.list-header {
  padding-left: 15px;
}
.list-export-button-container {
  text-align: right;
}
.list-export-button-link {
  text-decoration: none;
}

.list-date-form-container {
  width: 100%;
  margin-top: 1vh;
}

.list-date-select-container {
  margin: auto;
}

.list-filter-button-container {
  width: 100%;
  text-align: center;
  margin-top: 1vh;
}
.list-tables-container {
  margin-top: 0vh;
  height: 75vh;
  overflow-y: auto;
}

.list-table-header {
  padding-left: 15px;
}
