@media only screen and (max-width: 480px) {
  /* For Mobile Phones */
  .categories-table-percentage-row {
    display: none;
  }
}

.category-pagination {
  width: 100%;
  text-align: right;
  padding-right: 1rem;
  margin-top: 0.5rem;
}

.categories-loading-container {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-options-button {
  padding: 0px;
}

.list-button {
  padding: 0px 10px 0px 10px;
}