@media only screen and (max-width: 480px) {
  /*For Mobile Screens*/
  .list-category-item-go-back-button-container {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media (min-width: 481px) {
.list-category-item-go-back-button-container {
    margin: auto;
    padding-left: 10px;
  }
}