.back-button-icon {
    background-color: #131c16;
    color: #efeeee;
    width: 40px;
    height: 35px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.back-button-title-container {
    float: left;
    font-weight: bold;
}

.back-button-icon-container {
    float: left;
    height: 3.5rem;

}
