@media only screen and (max-width: 480px) {
  /* For Mobile Phones */
  .login-container {
    width: 100%;
  }
  .login-input-label {
    width: 90%;
  }
  .login-text-field {
    width: 90%;
  }
}

@media screen and (min-width: 481px) {
  /* For Desktops */
  .login-container {
    width: 650px;
  }
  .login-input-label {
    width: 50%;
  }
  .login-text-field {
    width: 50%;
  }
}

.login-container {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.login-paper-container {
  padding-top: 0px;
  padding-bottom: 2vh;
}