$mobile-breakpoint-max: 600px;

$tablet-breakpoint-min: 601px;
$tablet-breakpoint-max: 900px;

$small-desktop-breakpoint-min: 901px;
$small-desktop-breakpoint-max: 1200px;

$desktop-breakpoint-min: 1201px;