@import './DefaultColors.scss';
@import './DefaultSizes.scss';

@media only screen and (max-width: 480px) {
  /* For Mobile Phones */
  .budget-header {
    font-size: 20px;
  }
}

@media screen and (min-width: 481px) {
  /* For Desktops */
  .budget-header {
    font-size: 25px;
  }
}

.budget-app-grid-container {
  color: $default-text-color;
  //background-color: $default-backgoround-color;
}

::selection {
  background-color: #4e855f;
  color: $default-text-color-dark-background;
}

.budget-header {
  color: $default-header-color;
  font-weight: bold;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.budget-header-h6 {
  color: $default-header-color;
  font-size: 16px;
  font-weight: bold;
  margin: 1vh;
}

.budget-header-h5 {
  color: $default-header-color;
  font-size: 19px;
  font-weight: bold;
  margin: 1vh;
}
.budget-header-h4 {
  color: $default-header-color;
  font-size: 30px;
  font-weight: bold;
  margin: 1vh;
}
.budget-header-h3 {
  color: $default-header-color;
  font-size: 35px;
  font-weight: bold;
  margin: 1vh;
}

.budget-header-h2 {
  color: $default-header-color;
  font-size: 40px;
  font-weight: bold;
  margin: 1vh;
}
.AppBarMargin {
  margin-top: 80px;
}

.AppBarMarginGraph {
  margin-top: 65px;
}

.BudgetList {
  background-color: #18191a;
}

.BudgetIcon {
  color: #d4d4d4;
  margin-right: 1vh;
  margin-top: auto;
  margin-bottom: auto;
}
.MuiTextField-Standard {
  background-color: transparent;
  border: transparent;
}
.MuiSnackbarContent-message {
  padding: 0px;
  color: #e4e6eb;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.budget-result {
  border-radius: 1rem;
  width: 50vh;
  margin-left: 3vh;
  text-align: center;
  height: 25vh;
}
.budget-result-dark {
  background-color: #4d908e;
}

.budget-result-light {
  background-color: #d9eae5;
}

.incomes-bar-color-light {
  background-color: #f0e7d8;
}
.incomes-bar-color-dark {
  background-color: #3e504b;
}

.MuiAccordion-root {
  margin: 5px;
}

.MuiAccordion-root.Mui-expanded {
  margin: 5px;
}
.MarginBetweenTextFields {
  margin-top: 2vh;
}

.DefaultButton {
  height: 5vh;
}

@media print {
  .MuiAppBar-root,
  .MuiSvgIcon-root,
  .MuiButton-root,
  .MuiTablePagination-root {
    display: none !important;
  }
  .MuiGrid-root,
  .MuiGrid-container,
  .MuiTableContainer-root {
    width: fit-content;
  }
  .MuiTable-root {
    background: none;
  }
  .noPrint {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .MuiContainer-maxWidthLg {
    max-width: 1440px;
  }
}
.app-main-content-grid {
  padding-top: $appbar-height;
}

.budget-input-label {
  margin-top: 1vh;
}

.budget-select-small {
  height: 40px;
}

.budget-button-link {
  text-decoration: none;
}
.budget-main-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.budget-link {
  text-decoration: none;
}

.link-budget {
  color: #6ea672;
  text-decoration: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}

.MuiButton-textError {
  color: #EB2525;
}
.MuiButton-textSuccess {
  color: #31A955;
}

.MuiInputBase-input {
  padding: 8px 10px;
}

.MuiMenuItem-root {
  display: block;
  padding: 10px;
}