.base-dialog-title {
    background-color: #87c994;
    color: rgb(51, 51, 51);
    padding: 7px 15px;
    box-shadow:  0 1px 20px 0px rgb(194, 194, 194);
}

.base-dialog-title-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 80px;
    width: 1.3em;
    height: 1.3em;
}

.base-dialog-body {
    margin-top: 10px;
    padding-top: 10px !important;
}

.base-dialog-actions {
    background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0), #dddddd);
}

