.budget-confirm-button {
  border: 1px solid #6ea672;
  background-color: #6ea672;
  color: #efeeee;
}
.budget-confirm-button:hover,
.budget-confirm-button:focus {
  border: 1px solid #81c285;
  background-color: #81c285;
}
.budget-confirm-button-outlined {
  border: 1px solid #6ea672;
  color: #6ea672;
}
.budget-confirm-button-outlined:hover,
.budget-confirm-button-outlined:focus {
  border: 1px solid #6ea672;
  color: #6ea672;
}

.budget-confirm-button-text {
  color: #6ea672;
}
