.budget-warning-button {
  background-color: #d8d400;
}

.budget-warning-button:hover,
.budget-warning-button:focus {
  background-color: #e9e65c;
}

.budget-warning-button-outlined {
  border: 1px solid #e9e65c;
  color: #e9e65c;
}

.budget-warning-button-outlined:hover,
.budget-warning-button-outlined:focus {
  border: 1px solid #e9e65c;
  color: #e9e65c;
}

.budget-warning-button-text {
  color: #e9e65c;
  text-decoration: none;
}
