.budget-error-button {
    background-color: #d40000;
    color: #efeeee;
}

.budget-error-button:hover, .budget-error-button:focus  {
    background-color: #f50000;
    color: #efeeee;
}
  
.budget-error-button-text {
    color: #d40000;
}