.left-menu-container {
  width: 100%;
}

.left-menu-paper {
  width: 101%;
  background-color: #111111;
  color: #c4c4c4;
}

.close-icon-container {
  margin-left: auto;
  margin-right: auto;
}

.close-icon {
  color: #c4c4c4;
  font-size: 5vh;
}
