.calendar-date-not-today {
    color: #897979;
}
.calendar-date-today {
    color: #3e3737;
}
.calendar-date-list-item:hover .calendar-date-not-today, .calendar-date-list-item.hover .calendar-date-not-today {
    color: #3e3737;
} 