@import '../../Styles/DefaultColors.scss';
@import '../../Styles/DefaultSizes.scss';
@import '../../Styles/Breakpoints.scss';

@media only screen and (max-width: $mobile-breakpoint-max) {
  /*For Mobile Screens*/
  .appbar-right-icon-container {
    width: 50vw;
  }

  .appbar-app-name-container-desktop {
    display: none;
  }

}

@media only screen and (min-width: $tablet-breakpoint-min) {
  .appbar-right-icon-container {
    width: 30vw;
  }

  .appbar-app-name-container-mobile {
    display: none;
  }
}

.appbar-main {
  position: fixed;
  width: 100%;
  background-color: #4e855f;
  height: $appbar-height;
  padding-top: 0px;
  border-radius: 0px;
  z-index: 1000;
}

.appbar-app-name-container-desktop {
  font-size: 3vh;
  color: $default-text-color-dark-background;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.appbar-app-name-container-mobile {
  font-size: 3vh;
  color: $default-text-color-dark-background;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.appbar-app-name {
  margin-left: 10px;
}

.appbar-app-icon {
  font-size: 4vh;
  margin-top: auto;
  margin-bottom: auto;
}

.appbar-app-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: inherit;
}
.appbar-app-name-link-container {
  height: $appbar-height;
  margin-left: 10px;
  display: flex;
  align-content: center;
}

.appbar-right-icon-container {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right: 15px;
  text-align: right;
  background-image: linear-gradient(90deg, #4e855f, #0c4b1f);
}

.appbar-right-icon-button {
  height: $appbar-height;
}

.appbar-right-icon {
  color: $default-text-color-dark-background;
}
