@import "../../Styles/DefaultSizes";

@media only screen and (max-width: 480px) {
  /* For Mobile Phones */
  .main-left-menu-list-item-text, .main-left-menu-class {
    display: none;
  }
}

.main-left-menu-class {
  background-color: #101010;
  padding-top: $appbar-height;
}
.main-left-menu-list-container {
  color: #fff;
  padding: 0px;
  background-color: #101010;
}
.main-left-menu-list-link {
  text-decoration: none;
  color: #efeeee;
}
.main-left-menu-list-item {
  margin-top: 0.5rem;
  background-color: #101010;
}
.main-left-menu-list-item:hover {
  background-color: #1e2b22;
}
.main-left-menu-list-icon {
  color: #fff;
}
