@import "../../Styles/DefaultColors";

@media only screen and (max-width: 480px) {
  .todo-tasks-date-created-container {
    display: none;
  }
}
.todo-tasks-container {
  width: 100%;
  height: 300px;
  margin-top: 15px;
}

.todo-tasks-menu-class {
  background-color: transparent;
  padding-top: 80px;
}

.todo-tasks-list-container {
  padding: 0px;
  background-color: transparent;
}

.todo-taks-list-item {
  margin-top: 0rem;
  background-color: transparent;
}

.todo-taks-list-text-container {
  margin: 0px;
}

.todo-taks-list-text {
  width: 200px;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.todo-taks-pagination-container {
  width: 100%;
  text-align: right;
}

.todo-taks-list-item:hover {
  background-color: #d7dfd0;
}
.todo-taks-list-list-icon-button {
  color: $default-header-color;
  height: 100%;
  border-radius: 25px;
}
.todo-taks-list-list-icon-button:disabled {
  color: $default-disabled-button;
}

.todo-taks-list-list-icon {
  font-size: 25px;
}

.todo-taks-list-icon-container {
  text-align: right;
}

.todo-tasks-date-created-container {
  font-size: 0.75rem;
  float: left;
}

.todo-tasks-date-expired-container {
  font-size: 0.75rem;
  float: right;
}
