.create-recipe-selected-ingredient-container {
    height: 40vh;
    margin-bottom: 20px;
    overflow-y: auto;
}

.create-recipe-all-ingredient-container {
    height: 40vh;
    overflow-y: auto;
}

.create-recipe-container-loading-overlay {
    background-color: rgba($color: #000000, $alpha: 0.4);
    width: 83.33vw;
    height: 94vh;
    margin-top: -1vh;
    margin-left: -2rem;
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
}

.create-recipe-container-loading-overlay-circular-progress {
    margin: auto;
}

.create-recipe-button-container {
    margin-top: 5vh;
    width: 100%;
    text-align: right;
    vertical-align: bottom;
}