.display-recipe-instructions-container {
    border: 1px solid #bec0c0;
    border-radius: 5px;
}

.display-recipe-instructions-list-item-ingredient {
    display: list-item;  
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 10px;
}