@import '../../../Styles/Breakpoints.scss';

@media only screen and (max-width: $mobile-breakpoint-max) {
  /*For Mobile Screens*/
  .list-recipes-header-container  {
    display: block;
  }
  .list-recipes-manage-ingredients {
    width: 100%;
  }
  .list-recipes-create-new-recipe {
    width: 100%;
  }
}
@media only screen and (min-width: $tablet-breakpoint-min) and (max-width: $tablet-breakpoint-max){
  /*For Small Screens*/
  .list-recipes-header-container  {
    display: flex;
  }
  .list-recipes-manage-ingredients {
    width: 100%;
  }
  .list-recipes-create-new-recipe {
    width: 100%;
  }
}

@media only screen and (min-width: $small-desktop-breakpoint-min) {
  /*For Small Screens*/
  .list-recipes-header-container  {
    display: flex;
  }
}

.list-recipes-header-container {
  width: 100%;

}

.list-recipes-header {
  width: 50%;
  display: inline;
}

.list-recipes-add-button-container {
  width: 50%;
  display: inline;
  text-align: right;
}

.list-recipes-add-button-link {
  text-decoration: none;
}

.list-recipes-manage-ingredients {
  margin-right: 1vh;
}

.list-recipes-list-item-text {
  margin: 0px;
}
