.date-time-picker-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #0000007a;
  width: 260px;
  min-height: 20vh;
  max-height: 30vh;
  z-index: 2000;
  position: fixed;
  inset: 0px;
}

.date-time-picker-date-day {
  display: inline-block;
  width: 12.2%;
  margin-left: 2px;
  margin-right: 1px;
  margin-top: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.253);
  border-radius: 5px;
}
.date-time-picker-month-button {
  padding: 0px;
  margin: 0px;
  height: 20px;
}

.date-time-time-button {
  width: 100%;
  //margin-right: 16px;
}

.date-time-time-container {
  width: 100%;
  text-align: right;
  padding-right: 8px;
}
