@import '../../Styles/DefaultColors';

@keyframes overlayOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.loading-overlay-container {
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.loading-overlay-container-removal {
  animation-name: overlayOpacity;
  animation-duration: 1s;
}

.loading-overlay-message-container {
  display: block;
}
.loading-overlay-message-container {
  color: $default-text-color-dark-background;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
}
