@media only screen and (max-width: 480px) {
  /* For Mobile */
  .investments-graph-container {
    display: none;
  }
}

.investments-graph-container {
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 1250px) {
  /* Three buttons in row breakpoint */
  .investments-buttons-container {
    display: none;
  }
}
@media screen and (min-width: 1251px) {
  /* Three buttons in row breakpoint */
  .investments-manage-investments-button {
    display: none;
  }
}

.investments-manage-investments-list-item {
  text-align: center;
  min-height: 20px;
  font-size: 0.9rem;
}

.investments-buttons-container {
  width: 100%;
  height: 100%;
}
.investments-manage-investments-container {
  text-align: right;
}

.investments-header {
  padding-left: 15px;
}
