.moneyChangeTableTextRow {
    display: inline-block;
    width: 9vw;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.moneyChangeTableDate {
    max-width: 20%;
    min-width: 20%;
}

.moneyChangeTableName {
    max-width: 20%;
    min-width: 20%;
}

.moneyChangeTableCategory {
    max-width: 20%;
    min-width: 20%;
}

.moneyChangeTablePrice {
    max-width: 20%;
    min-width: 20%;
}

.moneyChangeTableEdit {
    max-width: 20%;
    min-width: 20%;
}

.pointerCursor {
    cursor: pointer;
}

.MuiTableCell-sizeSmall {
    padding: 6px !important;
}
