@media only screen and (max-width: 600px) {
  /*For Mobile Screens*/
  .profile-drawer {
    width: 100vw;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  /*For Smaller Screens*/
  .profile-drawer {
    width: 50vw;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  /*For Small Screens*/
  .profile-drawer {
    width: 35vw;
  }
}
@media only screen and (min-width: 1201px) {
  /*For Desktops */
  .profile-drawer {
    width: 30vw;
  }
}
.profile-drawer-form-input-label {
  margin-top: 1vh;
}
.profile-close-button-container {
  text-align: center;
}

.profile-close-button {
  margin-top: 2vh;
}
