@media only screen and (max-width: 480px) {
  .budget-card-add-button {
    min-width: 0px;
    width: 28vw;
  }
}

@media only screen and (min-width: 481px) {
  .budget-card-add-button {
    min-width: 0px;
    width: 7.7vw;
  }
}
